img{
  width: 400px;
  height: 400px;
}
img{
  margin-left: 20px;
}
div{
 padding-left: 150px;
}

body{
  background-color: whitesmoke;
}

p{
  font-size: 150%;
  font-weight: bolder;
  margin: 50px 50px 50px 0px;
  text-align: center;
  color: rgb(251, 93, 76);
}

ul{
  margin-top: 50px;
}

li{
  margin-top: 10px;
  list-style-type: none;
  color: rgb(251, 93, 76);
  font-weight: bold;
}